$navHeight: 100px;
$lineHeight: 100px;
$lineWidth: 10px;
$lineTransTime: 0.75s;

$squareOffset: 20px;

$lineBorderRad: 5px;

body {
	background-color: #dfecf2;
	margin: 0;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
	height: $navHeight;
	background-color: #b0cdd8;
	border-bottom: #7ea7b7 2px solid;
}
#main {
	display: flex;
	justify-content: center;
	align-items: center;
	//width: 100%;
	//height: 100%;
	flex-basis: auto;
	flex-direction: column;
}
#main-inner {
	min-width: 100px;
	min-height: 100px;
	//border: black 1px solid;
	border-bottom: #7ea7b7 5px solid;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.square-row {
	display: flex;
	flex-direction: row;
}

$dotDiameter: 25px;
.dot {
	height: $dotDiameter;
	width: $dotDiameter;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	transition: $lineTransTime ease-out;
}

$rowMargin: 5px;
.row-cont {
	margin: 0 $rowMargin 0 $rowMargin;
}

.line {
	background-color: #fff;
	border: 0;
	transition: $lineTransTime ease-out;
}
.vline {
	height: $lineHeight;
	width: $lineWidth;
	margin-top: $rowMargin;
	margin-left: ($dotDiameter - $lineWidth)/2;
	margin-right: ($dotDiameter - $lineWidth)/2;
}
.hline {
	width: $lineHeight;
	height: $lineWidth;
	//margin-top: ($dotDiameter - $lineWidth)/2;
	//margin-bottom: ($dotDiameter - $lineWidth)/2;
}

.vlineOut,
.hlineOut {
	background-color: #b0cdd8;
	border-radius: $lineBorderRad;
}

.hlineOut {
	height: $dotDiameter - ($dotDiameter - $lineWidth);
	margin-top: 0;
	padding-top: ($dotDiameter - $lineWidth)/2;
	padding-bottom: ($dotDiameter - $lineWidth)/2;
}

.lineOut {
	transition: 0.25s ease-out;
	&:hover {
		background-color: #31677c;
	}
}

.hline-cont {
	display: flex;
	flex-direction: column;
}

.square-in {
	background-color: #fff;

	height: $lineHeight - $squareOffset;
	width: $lineHeight - $squareOffset;

	margin-top: $rowMargin * 2 + ($squareOffset/2);
	border-radius: $lineBorderRad * 2;
	margin-left: ($squareOffset/2);

	display: none;
}

.square-row {
	margin-bottom: $rowMargin;
	margin-top: $rowMargin;
}

.clicked {
	background-color: #31677c;
}

.box-select {
	transition: 1s ease-out;
	background-color: #ffffff;
	display: block;
}

#score-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 600px;
}
.score-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.score {
	margin: 0;
	font-size: 5em;
	font-weight: 200;
	line-height: 1em;
}

.score-name {
	margin: 10px 0 0 0;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1em;
	width: 110px;
	text-align: center;
}

#current-player {
	font-weight: 400;
	font-size: 1.3em;
	margin-top: 20px;
}

#connect-cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	margin-top: 20px;

	transition: 0.25s ease-out;
	h3 {
		font-weight: 200;
		margin: 0;
	}
}
#dimen-cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	margin-top: 20px;
	transition: 0.25s ease-out;
	h3 {
		margin: 0;
		font-size: 3em;
		font-weight: 200;
		line-height: 0.5em;
		width: 40px;
		text-align: center;
	}
}

.con-button {
	padding: 15px 40px 15px 40px;
	background-color: #31677c;
	transition: 0.25s ease-out;
	cursor: pointer;
	&:hover {
		background-color: #528396;
	}
}
.dimen-button {
	padding: 15px 40px 0px 40px;
	background-color: #31677c;
	transition: 0.25s ease-out;
	cursor: pointer;
	&:hover {
		background-color: #528396;
	}
}
#join-button {
	margin-left: 1px;
}
#host-button {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#local-button {
	margin-left: 1px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
#con-button {
	color: white;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
}

#dim-min-button {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-right: 1px;
}
#dim-plus-button {
	margin-left: 1px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
#dim-num {
	input {
		width: 100px;
		font-size: 60px;
		text-align: center;
	}
}

h4.host-inf {
	font-weight: 300;
	text-align: center;
}

#peer-id {
	width: 300px;
	margin-top: 20px;
}
