body {
  background-color: #dfecf2;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  height: 100px;
  background-color: #b0cdd8;
  border-bottom: #7ea7b7 2px solid;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-inner {
  min-width: 100px;
  min-height: 100px;
  border-bottom: #7ea7b7 5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.square-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.75s ease-out;
  transition: 0.75s ease-out;
}

.row-cont {
  margin: 0 5px 0 5px;
}

.line {
  background-color: #fff;
  border: 0;
  -webkit-transition: 0.75s ease-out;
  transition: 0.75s ease-out;
}

.vline {
  height: 100px;
  width: 10px;
  margin-top: 5px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.hline {
  width: 100px;
  height: 10px;
}

.vlineOut,
.hlineOut {
  background-color: #b0cdd8;
  border-radius: 5px;
}

.hlineOut {
  height: 10px;
  margin-top: 0;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.lineOut {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.lineOut:hover {
  background-color: #31677c;
}

.hline-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.square-in {
  background-color: #fff;
  height: 80px;
  width: 80px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 10px;
  display: none;
}

.square-row {
  margin-bottom: 5px;
  margin-top: 5px;
}

.clicked {
  background-color: #31677c;
}

.box-select {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  background-color: #ffffff;
  display: block;
}

#score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.score-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score {
  margin: 0;
  font-size: 5em;
  font-weight: 200;
  line-height: 1em;
}

.score-name {
  margin: 10px 0 0 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  width: 110px;
  text-align: center;
}

#current-player {
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 20px;
}

#connect-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 20px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

#connect-cont h3 {
  font-weight: 200;
  margin: 0;
}

#dimen-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 20px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

#dimen-cont h3 {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  line-height: 0.5em;
  width: 40px;
  text-align: center;
}

.con-button {
  padding: 15px 40px 15px 40px;
  background-color: #31677c;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  cursor: pointer;
}

.con-button:hover {
  background-color: #528396;
}

.dimen-button {
  padding: 15px 40px 0px 40px;
  background-color: #31677c;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  cursor: pointer;
}

.dimen-button:hover {
  background-color: #528396;
}

#join-button {
  margin-left: 1px;
}

#host-button {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#local-button {
  margin-left: 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#con-button {
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}

#dim-min-button {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 1px;
}

#dim-plus-button {
  margin-left: 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#dim-num input {
  width: 100px;
  font-size: 60px;
  text-align: center;
}

h4.host-inf {
  font-weight: 300;
  text-align: center;
}

#peer-id {
  width: 300px;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */